name: CD
on:
    push:
        branches: [master]

permissions:
    contents: write # Required to push to the repository
    id-token: write # Required for OIDC

jobs:
    CD:
        runs-on: ubuntu-latest
        name: CD
        environment: Release
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
              with:
                  fetch-depth: 0
            - name: Setup
              uses: ./.github/actions/setup
            - name: Tests
              run: npm test
            - name: Build
              uses: ./.github/actions/build
            - name: Release
              run: npm run release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  DEBUG: '*'
