name: CD
on:
    push:
        branches: [master]

permissions:
    contents: write # Required to push to the repository
    id-token: write # Required for OIDC

jobs:
    CD:
        runs-on: ubuntu-latest
        name: CD
        environment: Release
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  fetch-depth: 0
            - name: Setup
              uses: ./.github/actions/setup
            - name: Tests
              run: npm test
            - name: Build
              uses: ./.github/actions/build
            - name: Release
              run: npm run release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  DEBUG: '*'
