name: CI
on:
    pull_request:
        branches: [master]
        types: [opened, edited, synchronize, reopened]
    push:
        branches:
            - 'main'
    merge_group:
jobs:
    CI:
        runs-on: ubuntu-latest
        name: CI
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
            - name: Setup
              uses: ./.github/actions/setup
            - name: Check lockfiles
              uses: ./.github/actions/lockfiles
            - name: Check merge commit
              if: github.event_name == 'merge_group'
              uses: ./.github/actions/merge-commit
            - name: Statical analysis
              uses: ./.github/actions/lint
            - name: Tests
              run: npm test
            - name: Build
              uses: ./.github/actions/build
