name: CI
on:
    pull_request:
        branches: [master]
        types: [opened, edited, synchronize, reopened]
    push:
        branches:
            - 'main'
    merge_group:
jobs:
    CI:
        runs-on: ubuntu-latest
        name: CI
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - name: Setup
              uses: ./.github/actions/setup
            - name: Check lockfiles
              uses: ./.github/actions/lockfiles
            - name: Check merge commit
              if: github.event_name == 'merge_group'
              uses: ./.github/actions/merge-commit
            - name: Statical analysis
              uses: ./.github/actions/lint
            - name: Tests
              run: npm test
            - name: Build
              uses: ./.github/actions/build
