name: 'Renovate Config Validator'

on:
    push:
        branches: [master]
        paths:
            - 'renovate.json'
    pull_request:
        branches: [master]
        paths:
            - 'renovate.json'

permissions:
    contents: read

jobs:
    renovate-config:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
              with:
                  cache: 'npm'
                  node-version-file: '.nvmrc'
            - name: Check Renovate config
              run: |
                  npm i renovate
                  node_modules/.bin/renovate-config-validator
